<ion-header>

  <ion-navbar color="primary">
    <ion-buttons end *ngIf="selectedList != null">
      <button ion-button (click)="removeSelectedList()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>My Lists</ion-title>
  </ion-navbar>
  
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item *ngFor="let list of listsService.lists" (press)="selectList(list)" (tap)="goToList(list)"
        [ngClass]="{'selected-list': selectedList === list}">
        {{list.name}}
      </ion-item>
    </ion-list>
  </ion-content>

<ion-fab bottom right>
  <button ion-fab (click)="showAddList()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
