page-lists {
    ion-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        ion-item{
            width: calc(50vw - 24px) !important;
            height: calc(50vw - 24px);
            border: none !important;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.20), 0 3px 6px rgba(0, 0, 200, 0.15);
            margin-bottom: 16px !important;
            padding: 0 !important;

            :hover{
                cursor: pointer;
                background-color: rgba(0, 0, 200, 0.15);
            }

            .item-inner{
                border: none !important;
                padding: 0 !important;
            }

            .label-ios{
                margin: 11px 8px 11px 8px;
            }

            .input-wrapper{
                text-align: center;
            }

            &.selected-list{
                background-color: #DDD;
                box-shadow: 0 3px 15px rgba(0,0,0, 0.5) !important;
                transition: background-color 0.3 ease-out;
            }

        }
    }
}