page-add-task-modal {

    ion-list{
        height: 100%;
    }

    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 50px;

        >*{
            margin-bottom: 20px;
        }

        .submit-button{
            width: 100%;
        }

        ion-item{
            &.item-md-warning, &.item-ios-warning, &.item-wp-warning{
                background-color: transparent;
                color: color($colors, warning);
                margin-top: -30px;
                margin-bottom: -5px;

                transition-property: opacity, visibility;
            
                &[hidden]{
                    display: block !important;
                    opacity: 0;
                    visibility: hidden;
                    transition-property: opacity, visibility;
                    transition-duration: 0.4s;
                    transition-delay: 0.4s;
                }
            }
        }
    }

}
