page-todos {
    .warning{
        color: red;
    }

    h3:first-child{
       margin-top: 0.35em !important; 
    }

    ion-list{

        .no-todos{
            color: color($colors, light);
            margin-top: 50;
            font-style: italic;
            font-size: 1.3em;
            text-align: center;
        }

        .item-block .item-inner{
            border: none !important;
        }
        .item-block:last-child{
            border: none !important;
        }

        .item-divider{
            border: none !important;
            padding-top: 10px;
            background-color: transparent;
            color: color($colors, light);
            font-style: italic;
        }

    }
}
