
<ion-header>

  <ion-navbar color="favorite">
    <ion-title>To Do List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h3>{{list.name}}</h3>
  <ion-list>

    <ion-item class="no-todos" *ngIf="!todoService.todos || todoService.todos.length == 0">Add some tasks to your list</ion-item>
    <ion-item-sliding *ngFor="let todo of todoService.todos | prioritizedTodosPipe">
     
      <ion-item [ngStyle]="setTodoStyles(todo)">
        <ion-label class="slided-todo">{{todo.description}}</ion-label>
        <ion-checkbox [checked]="todo.isDone" (click)="todoService.toggleToDo(todo)"></ion-checkbox>
      </ion-item>
    
      <ion-item-options side="left">
        <button ion-button color="dark" (click)="showEditTodo(todo)">
          <ion-icon name="create"></ion-icon>
          Edit</button>
        <button ion-button color="danger" (click)="removeTodo(todo)">
          <ion-icon name="remove-circle"></ion-icon>
          Remove</button>
      </ion-item-options>

    </ion-item-sliding>
    <ion-item-divider *ngIf="(todoService.todos | doneTodosPipe).length > 0">Done tasks</ion-item-divider>
    <ion-item *ngFor="let todo of todoService.todos | doneTodosPipe" [ngStyle]="setTodoStyles(todo)">
        <ion-label color="light">{{todo.description}}</ion-label>
        <ion-checkbox color="dark" [checked]="todo.isDone" (click)="todoService.toggleToDo(todo)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-fab bottom right class="add-task">
    <button ion-fab (click)=showAddTodo() >
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>